@import './themes';

@mixin nb-overrides() {
  nb-select.size-medium button {
    padding: 0.4375rem 2.2rem 0.4375rem 1.125rem !important;

    nb-icon {
      right: 0.41rem !important;
    }
  }

  /* toastr */
  .toast-success {
    color: #155724 !important;
  }

  .toast-error {
    color: #721c24 !important;
  }

  .toast-top-right,
  .toast-top-left,
  .toast-top-center {
    top: nb-theme(header-height) + nb-theme(header-padding);
  }
}
