<div class="row">
  <div class="col-xxxl-4 col-md-4">
    <ngx-status-card [title]="'Total Balance in PRV'" [description]="vm.ValuePRV || '0.000000000000'" [mash]="!isHideDataMash()" [type]="'info'">
      <i [ngClass]="'nb-lightbulb'"></i>
    </ngx-status-card>
  </div>
  <div class="col-xxxl-4 col-md-4">
    <ngx-status-card [title]="'Total Balance in USDT'" [description]="vm.ValueUSDT || '0.000000000000'" [mash]="!isHideDataMash()" [type]="'success'">
      <i [ngClass]="'nb-roller-shades'"></i>
    </ngx-status-card>
  </div>
  <div class="col-xxxl-4 col-md-4">
    <ngx-status-card [title]="'Total Balance in BTC'" [description]="vm.ValueBTC || '0.000000000000'" [mash]="!isHideDataMash()" [type]="'warning'">
      <i [ngClass]="'nb-sunny'"></i>
    </ngx-status-card>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <nb-card>
      <nb-card-header>
        Balance
        <button nbButton ghost status="basic" class="float-right" title="Refresh" 
        (click)="onRefreshGrid('balance')"><nb-icon icon="sync"></nb-icon></button>
      </nb-card-header>
    
      <nb-card-body>
        <ng2-smart-table [settings]="balanceSettings" [source]="balanceSource" (custom)="onCustomAction($event)">
        </ng2-smart-table>
      </nb-card-body>
    </nb-card>
  </div>
</div>
